{% extends 'imageReveal/base.html' %}

{% load staticfiles %}

{% block content %}
    <div>
        <p class="bigline">Welcome to the Major's<br> reVEALing image puzzle emporium!</p>
        <p>Each level consists of a cryptic-crossword-style clue and a hint in the form
        of a photograph.</p>
        <ul>
            <li>Up to <span class="blue_text">(1000)</span> points are available on each clue.</li>
            <li>Available points are deducted for an incorrect guess <span class="red_text">(-200 points)</span>
                and for every 5 seconds of elapsed time <span class="red_text">(-10 points)</span>.  If you need 
                help, hints are available as follows:</li>
            <li>A one-letter hint costs <span class="red_text">200 points</span></li>
            <li>A partial exposure of one colour channel of the image costs 
                <span class="red_text">50 points</span>.</li>
        </ul>
        <p>Good luck!</p>

        <p class='lets_go_line'>
        <a class='lets_go' href="{% url 'imageReveal:clue' %}">Let's roll!</a>
        </p>
    </div>
{% endblock %}

